/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>
#include "60wkeyboard-pinctrl.dtsi"

/ {
    model = "60wkeyboard";
    compatible = "zmk,60wkeyboard"; // Fixed naming convention

    chosen {
        zmk,kscan = &kscan0;
        zmk,keymap = &keymap0;
        zmk,underglow = &led_strip;
    };

    keymap0: keymap {
        compatible = "zmk,keymap";
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios
            = <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio0  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio0  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio1  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios
            = <&gpio0 24 GPIO_ACTIVE_HIGH>,
              <&gpio0 22 GPIO_ACTIVE_HIGH>,
              <&gpio0 20 GPIO_ACTIVE_HIGH>,
              <&gpio0 17 GPIO_ACTIVE_HIGH>,
              <&gpio0 15 GPIO_ACTIVE_HIGH>,
              <&gpio0 14 GPIO_ACTIVE_HIGH>,
              <&gpio0 25 GPIO_ACTIVE_HIGH>,
              <&gpio0 13 GPIO_ACTIVE_HIGH>,
              <&gpio0 16 GPIO_ACTIVE_HIGH>,
              <&gpio0 19 GPIO_ACTIVE_HIGH>,
              <&gpio0 21 GPIO_ACTIVE_HIGH>,
              <&gpio0 23 GPIO_ACTIVE_HIGH>,
              <&gpio0 10 GPIO_ACTIVE_HIGH>,
              <&gpio1  0 GPIO_ACTIVE_HIGH>;
    };

    vcc_rgb: vcc_rgb_en {
        compatible = "regulator-fixed";
        regulator-name = "vcc_rgb_en";
        enable-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; 
        regulator-always-on;
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&usbd {
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <61>; 
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN>,
                        <LED_COLOR_ID_RED>,
                        <LED_COLOR_ID_BLUE>;
    };
};