/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    model = "60wkeyboard";
    compatible = "60wkeyboard";

    chosen {
        zmk,kscan = &kscan0;
        zmk,keymap = &keymap0;
        zmk,underglow = &led_strip;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; // Common for most 60% boards

        row-gpios
            = <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW_0 (P0.12)
            , <&gpio0  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW_1 (P0.08)
            , <&gpio0  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW_2 (P0.07)
            , <&gpio1  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW_3 (P1.09)
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW_4 (P0.11)
            ;

        col-gpios
            = <&gpio0 24 GPIO_ACTIVE_HIGH> // COL_0  (P0.24)
            , <&gpio0 22 GPIO_ACTIVE_HIGH> // COL_1  (P0.22)
            , <&gpio0 20 GPIO_ACTIVE_HIGH> // COL_2  (P0.20)
            , <&gpio0 17 GPIO_ACTIVE_HIGH> // COL_3  (P0.17)
            , <&gpio0 15 GPIO_ACTIVE_HIGH> // COL_4  (P0.15)
            , <&gpio0 14 GPIO_ACTIVE_HIGH> // COL_5  (P0.14)
            , <&gpio0 25 GPIO_ACTIVE_HIGH> // COL_6  (P0.25)
            , <&gpio0 13 GPIO_ACTIVE_HIGH> // COL_7  (P0.13)
            , <&gpio0 16 GPIO_ACTIVE_HIGH> // COL_8  (P0.16)
            , <&gpio0 19 GPIO_ACTIVE_HIGH> // COL_9  (P0.19)
            , <&gpio0 21 GPIO_ACTIVE_HIGH> // COL_10 (P0.21)
            , <&gpio0 23 GPIO_ACTIVE_HIGH> // COL_11 (P0.23)
            , <&gpio0 10 GPIO_ACTIVE_HIGH> // COL_12 (P0.10)
            , <&gpio1  0 GPIO_ACTIVE_HIGH> // COL_13 (P1.00)
            ;
    };

    // Special pin for your RGB Power (P0.06)
    vcc_rgb: vcc_rgb_en {
        compatible = "regulator-fixed";
        label = "VCC_RGB_EN";
        regulator-name = "vcc_rgb_en";
        enable-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; // RGB_POWER
        regulator-always-on;
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&usbd {
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

// RGB LED Data Pin (P1.13)
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <61>; // Adjust based on total per-key LEDs
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};